[submodule "public/.dotfiles/libs/z"]
	path = public/.dotfiles/vendor/z
	url = https://github.com/rupa/z.git
[submodule "public/.dotfiles/vendor/pure"]
	path = public/.dotfiles/vendor/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "public/.dotfiles/vendor/zsh-syntax-highlighting"]
	path = public/.dotfiles/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "public/.dotfiles/vendor/zsh-history-substring-search"]
	path = public/.dotfiles/vendor/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "public/.dotfiles/vendor/zsh-completions"]
	path = public/.dotfiles/vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
