[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[core]
    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,trailing-space
    # Edit commit messages in Sublime Text
    editor = subl -w

[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[alias]
    # Delete a branch locally and remotely in one go
    purge = "!f() { git branch -d $1 && git push --delete origin $1; }; f"
