[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,trailing-space
  # Edit commit messages in Sublime Text
  editor = code --wait
  excludesfile = ~/.dotfiles/gitignore-global
  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  pager = less --tabs=2 --RAW-CONTROL-CHARS --quit-if-one-screen --no-init --chop-long-lines

[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto

# Better diff colors
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[push]
  default = simple
  followTags = true

[pull]
  rebase = false

[help]
  autocorrect = 1

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[log]
  date = auto:human-local
