packages: [
  "docblockr"
  "editorconfig"
  "emmet"
  "emmet-jsx-css-modules"
  "file-type-icons"
  "git-time-machine"
  "hyperclick"
  "js-hyperclick"
  "language-babel"
  "language-docker"
  "language-postcss"
  "linter"
  "busy-signal"
  "intentions"
  "linter-ui-default"
  "linter-eslint"
  "linter-js-standard"
  "linter-xo"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "pigments"
  "regex-railroad-diagram-fork"
  "sort-lines"
  "svg-preview"
]
